<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.checkroom.plugin.hud"
        version="0.4.4">

    <name>HUDPlugin</name>
	
    <description>Cordova HUD Plugin for iOS and Android</description>
	
    <license>MIT</license>
	
    <keywords>cordova,hud,dialog,loading,ios,ios7,ios8,android</keywords>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HUDPlugin">
                <param name="android-package" value="com.checkroom.plugin.hud.HUDPlugin"/>
            </feature>
        </config-file>
        
        <js-module src="www/android/HUDPlugin.js" name="HUDPlugin">
            <clobbers target="hudPlugin" />
        </js-module>
    
        <source-file src="src/android/HUDPlugin.java" target-dir="src/com/checkroom/plugin/hud" />
        <source-file src="src/android/HUDDialog.java" target-dir="src/com/checkroom/plugin/hud" />

        <source-file src="src/android/res/layout/dialog_hud.xml" target-dir="res/layout" />
        <source-file src="src/android/res/drawable-small/success.png" target-dir="res/drawable-small" />
        <source-file src="src/android/res/drawable-small/error.png" target-dir="res/drawable-small" />
        <source-file src="src/android/res/drawable-normal/success.png" target-dir="res/drawable-normal" />
        <source-file src="src/android/res/drawable-normal/error.png" target-dir="res/drawable-normal" />
        <source-file src="src/android/res/drawable-large/success.png" target-dir="res/drawable-large" />
        <source-file src="src/android/res/drawable-large/error.png" target-dir="res/drawable-large" />        
        <source-file src="src/android/res/drawable-xlarge/success.png" target-dir="res/drawable-xlarge" />
        <source-file src="src/android/res/drawable-xlarge/error.png" target-dir="res/drawable-xlarge" />  
    </platform>
    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
		<feature name="HUDPlugin">
			<param name="ios-package" value="HUDPlugin"/>
		</feature>
        </config-file>

        <js-module src="www/ios/HUDPlugin.js" name="HUDPlugin">
            <clobbers target="hudPlugin" />
        </js-module>

	    <header-file src="src/ios/HUDPlugin.h" />
	    <source-file src="src/ios/HUDPlugin.m" />
        <header-file src="src/ios/MBProgressHUD.h" />
        <source-file src="src/ios/MBProgressHUD.m" />

    </platform>

</plugin>
